
<div class="card">
    <div class="card-inner">
        <div class="card-front">
            <img src="../images/Chuck_Schumer.jpg">
        </div>
        <div class="card-back">
            <div class="card-header">
                <h1>Chuck Schumer</h1>
                <h2>(D) NY</h2>
            </div>
            <div class="card-body">
                <div class="leadership-positions">
                    <h3>Leadership Positions</h3>
                    <p>Senate Majority Leader, Chair of Senate Democratic Caucus</p>
                </div>
                <div class="committee-assignments">
                    <h3>Committee Assignments</h3>
                    <p>Agriculture, Judiciary, Veteran's Affairs</p>
                </div>
                <div class="assumed-office">
                    <h3>Assumed Office</h3>
                    <p>1999</p>
                </div>
                <div class="reelection-year">
                    <h3>Reelection Year</h3>
                    <p>2022</p>
                </div>
            </div>
            <a class="card-button" href="#">Visit Senate.gov Website</a>
        </div>
    </div>
</div>