
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <img src="../images/Chuck_Schumer.jpg">
    </div>
    <div class="card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>